
<html>
    <head>
        <title>
            Mi blocg xXMrMcTetisXx
        </title>
    </head>
<body>
    <p>TETTAAAAAAAAAAAAAAAAAAAAAAAS</p>
    <p>ola imnban🥚!</p>
</body>
</html>

{{ posts }}
<QuerySet [<Post: My second post>, <Post: My first post>] >
    <div>
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>
    
    {% for post in posts %}
        <div>
            <p> publicado: {{ post.published_date }}</p>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}